<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <select>
      <option value="all">전체</option>
      <option value="inProgress">진행중</option>
      <option value="completed">완료</option>
    </select>
    <input type="text" v-model="todo">
    <button @click = ''>+</button>
    <ul>
      <li v-for="todo in todoList">
        <input type="checkbox">
        <span>{{todo.content}}</span>
      </li>
    </ul>
    
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        todoList: [
          {
            isCompleted: true,
            content: '건강설문'
          },
          {
            isCompleted: false,
            content: '홈워크'
          },
        ],
        todo:''
      },
      methods: {
        saveTodo: function () {
          const result = {
            content: this.todo,
            isCompleted: false,
          }
        }
      },
    })

  </script>

  </script>
</body>
</html>