{% extends 'base.html' %}
{% block content %}

<h1>{{ person.username }}님 프로필 페이지!</h1>

<a href="{% url 'articles:index' %}">INDEX</a>
<hr>
팔로워 : {{ person.followers.all|length }} / 팔로잉 : {{ person.followings.all|length }}
{% if user != person %}
  <form class='follow-form' data-pk = "{{ person.pk}}" action="{% url 'accounts:follow' person.pk %}" method="POST">
  {% csrf_token %}
  {% if user in person.followers.all %}
    <button id='btn'>팔로우 취소</button>
  {% else %}
    <button id='btn'>팔로우</button>
  {% endif %}
  </form>
{% endif %}

<hr>
<h2>작성한 글 목록</h2>
<ul>
  {% for article in person.article_set.all %}
  <li>
    <a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a>
  </li>
  {% empty %}
  <li>작성한 글이 없어요.</li>
  {% endfor %}
</ul>
<hr>
<h2>작성한 댓글 목록</h2>
<ul>
  {% for comment in person.comment_set.all %}
    <li>{{ comment.content }}</li>
  {% empty %}
    <li>작성한 댓글이 없어요.</li>
  {% endfor %}
</ul>
<hr>
<h2>좋아요 누른 게시글 목록</h2>
<ul>
  {% for like_article in person.like_articles.all %}
    <li>
      <a href="{% url 'articles:detail' like_article.pk %}">{{ like_article.title }}</a>
    </li>
  {% empty %}
    <li>좋아요를 아직 누르지 않았어요.</li>
  {% endfor %}
</ul>

{% endblock content %}

{% block script %}
<script>
const form = document.querySelector('.follow-form')
  form.addEventListener('submit', function (event) {
    // submit 동작을 막기 위함 (새로고침 X)
    event.preventDefault()
    // article pk 값 가져오기
    const pk = person.pk
    // csrf token 값 가져오기 (django csrf document 참고)
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    // console.log(csrftoken)

    // axios를 이용하여 비동기 요청
    axios({
      method: 'post',
      url: `/accounts/${pk}/follow/`,
      headers: {
        'X-CSRFToken': csrftoken
      }
    })
    .then(res => {
      // 좋아요가 눌린 버튼을 선택한다.
      const btn = document.querySelector('#btn')

      // 버튼의 텍스트를 수정한다.
      if (res.data.is_like) {
        btn.innerText = '팔로우 취소'
      } else {
        btn.innerText = '팔로우'
      }
      // 좋아요 카운트 숫자를 변경
      // txt.innerText = res.data.cnt_like
    })
    .catch(err => {
      console.log(err)
    })
    
  })

  
</script>
{% endblock script %}