{% extends 'base.html' %}
{% block content %}
<h2>{{ article.title }}</h2>
<hr>
<p>{{ article.content }}</p>
<hr>
<a href="{% url 'articles:update' article.pk %}">수정하기</a>
<form action="{% url 'articles:delete' article.pk %}" method="POST">
{% csrf_token %}
<button>삭제하기</button>
</form>
<a href="{% url 'articles:index' %}">BACK</a>
<hr>

<form action="{% url 'articles:comment_create' article.pk %}" method="post">
  {% csrf_token %}
  {{ comment_form.as_p }}
  <button>댓글등록</button>
</form>
<hr>
<ul>
{% for comment in article.comment_set.all %}
  <li>
    {{ comment.content }}
    {% if comment.author == user %}
      <form action="{% url 'articles:comment_del' comment.pk %}" method="post">
        {% csrf_token %}
        <button>X</button>
      </form>
    {% endif %}
  </li>
{% endfor %}
</ul>

{% endblock content %}